body{
    background-color: #FFFFFF;
}
.head-section{
    width: 1336px;
    height: 178px;
    background-color: #FFFFFF00;
    margin: 80px 0px  48px 0px;
}
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title-section h5{
    color: #282828;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    font-family: 'Inter 18pt';
}
.title{
    color: #282828;
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    font-family: 'Inter 18pt';
    margin: 4px 0px 16px 0px;
}
.variations{
    color: #5F6980;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    font-family: 'Inter 18pt';
    width: 760px;
    height: 70px;
    letter-spacing: 0px;
}
    
.main-section{
width: 1336px;
height:908px ;
margin: 48px 52px;
}
.top-part,.bottom-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: ;
}
.about-member{
    width: 310px;
    height: 430px;
    border: 1px solid #EAECF0 ;
}
.picture{
    margin-bottom: 16px;
}
.top-part{
    margin-bottom: 48px;
}